@import "tailwindcss";

:root {
  --bg: #090912;
  --nav-bg: #171733;
  --nav-border: #ffffff;
  --font-bl-color: #00E5FF;
}

:root {
  background-color: var(--bg);
}

/*.navbar {*/
/*  @apply flex flex-col h-screen w-14 fixed top-0 left-0  bg-(--nav-bg) border border-(--nav-border)*/
/*}*/