@import "tailwindcss";

:root {
  --bg: #090912;
  --nav-bg: #171733;
  --nav-border: #ffffff;
  --font-bl-color: #00E5FF;
}

:root {
  background-color: var(--bg);
}

.dev_border {
  @apply border border-amber-50
}